<link rel="stylesheet" type="text/css" href="/style.css">

<h1>Birthday app</h1>

<img src="/images/balloons.png" style="max-width: 50%; height: auto;">

<h2>Enter your name and birthday below</h2>
<form action="/" method="post">
  <div style="margin-bottom: 2%">
    <label for="name">Name:</label>
    <input name="name" type="text" autofocus>
  </div>
  <label for="day">Day:</label>
    <input name="day" type="text" size="2" maxlength="2">
  <label for "month" style="margin-left:1%">Month:</label>
    <select name="month">
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  <input type="submit" value="Submit">
</form>
<% if @error %>
  Please enter a valid day!
<% end %>
